* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter;
}

nav {
  background-color: #f55a5a;
  display: flex;
  justify-content: center;
}

h1 {
  color: white;
  margin-left: 10px;
  font-weight: 500;
  font-size: 30px;
}

.nav--logo {
  align-self: center;
}

.card {
  display: flex;
  margin: 50px 10%;
}

.card--image {
  border-radius: 30px;
  width: 50%;
}

.card--details {
  margin-left: 50px;
}

.card--location_icon {
  align-self: center;
  height: 16px;
  margin-right: 8px;
}

.card--location {
  letter-spacing: 0.17em;
  font-size: 24px;
  margin-right: 12px;
}

.card-url {
  color: #918e9b;
}

h2 {
  font-size: 40px;
  color: #2b283a;
}

.card--dates {
  color: #2b283a;
  font-weight: 700;
}

p {
  color: #2b283a;
  font-size: 18px;
}

hr {
  margin: 50px 100px;
}
